<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#productNav" aria-controls="productNav" aria-expanded="false" aria-label="Toggle navigation">
  {{ with .Site.GetPage .Section}}{{ .Title }}{{ end }} Topics <i class="fas fa-chevron-down ml-3"></i>
</button>
<nav class="cd-links collapse navbar-collapse" id="productNav">
  <ul class="nav cd-sidebar-nav">
    {{ $currentPage := . }}
    {{ $showLevelTwo := false }}
    {{ $showLevelThree := false }}
    {{ with .FirstSection }}
      {{ range where .Pages ".Params.type" "ne" "json" }}
        {{ if eq .Params.hidecards true }}
          {{ range where .Pages ".Params.type" "ne" "json" }}
            {{ if eq .File.LogicalName "introduction.md" }}
              <li><a class="cd-level-one-link{{ if eq .Page $currentPage }} active-link{{ end }}" href="{{.Permalink}}">{{ .Title }}</a></li>
            {{ end }}
          {{ end }}   
        {{ else }}
          <li><a class="cd-level-one-link{{ if eq .Page $currentPage }} active-link{{ end }}" href="{{.Permalink}}">{{ .Title }}</a></li>
        {{ end }}
        {{ $showLevelTwo = false }}
        {{ if .IsAncestor $currentPage }}
          {{ $showLevelTwo = true }}
        {{ end }}
        {{ range where .Pages ".Params.type" "ne" "json" }}
          {{ if eq .Params.hidecards true }}
            {{ range where .Pages ".Params.type" "ne" "json" }}
              {{ if eq .File.LogicalName "introduction.md" }}
                <li><a class="cd-level-one-link{{ if eq .Page $currentPage }} active-link{{ end }}" href="{{.Permalink}}">{{ .Title }}</a></li>
              {{ end }}
            {{ end }}   
          {{ else }}
            {{ if not (eq .File.LogicalName "introduction.md") }}
              <li><a class="cd-level-two-link d-none {{ with $showLevelTwo }}d-block{{ end }}{{ if eq .Page $currentPage }} active-link{{ end }}" href="{{.Permalink}}">{{ .Title }}</a></li>
            {{ end }}  
          {{ end }}
          {{ $showLevelThree = false }}
          {{ if .IsAncestor $currentPage }}
            {{ $showLevelThree = true }}
          {{ end }}
          {{ range where .Pages ".Params.type" "ne" "json" }}
            {{ if eq .Params.hidecards true }}
              {{ range where .Pages ".Params.type" "ne" "json" }}
                {{ if eq .File.LogicalName "introduction.md" }}
                  <li><a class="cd-level-three-link d-none {{ with $showLevelThree }}d-block{{ end }}{{ if eq .Page $currentPage }} active-link{{ end }}" href="{{.Permalink}}">{{ .Title }}</a></li>
                {{ end }}
              {{ end }}   
            {{ else }}
              {{ if and (ne .File.LogicalName "introduction.md") (ne .Params.layout "integration") }}
                <li><a class="cd-level-three-link d-none {{ with $showLevelThree }}d-block{{ end }}{{ if eq .Page $currentPage }} active-link{{ end }}" href="{{.Permalink}}">{{ .Title }}</a></li>
              {{ end }}  
            {{ end }}            
          {{ end }}
        {{ end }}
      {{ end }}    
    {{ end }}
  </ul>
</nav>
